.profile-img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.icon-img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.info {
	width: 75%;
	height: 120px;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 5px;
	margin-top: 5px;
}