.btn-fb {
	background-color: #4267B2;
	color: #ffffff;
}
.btn-gl {
	background-color: #DB4437;
	color: #ffffff;
}
.btn-tw {
	background-color: #1DA1F2;
	color: #ffffff;
}
.btn-gt {
	background-color: #83878E;
	color: #ffffff;
}